@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.ff-exo {
  font-family: "Exo 2", sans-serif;
}

.ff-outfit {
  font-family: "Outfit", sans-serif;
}

.ff-mont {
  font-family: "Montserrat", sans-serif;
}

.gradient-1 {
  background: linear-gradient(130.88deg, #A854E9 -9.14%, #4F91FC 283.16%);
}

.gradient-2 {
  background: linear-gradient(130.88deg, #A854E9 -9.14%, #4F91FC 283.16%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@layer components {
  .mobileView {
    @apply max-lg:bg-white z-20 max-lg:gap-5 max-lg:fixed max-lg:items-center max-lg:justify-center max-lg:flex-col max-lg:top-0 max-lg:w-full max-lg:h-full duration-300
  }

  .navhover {
    @apply after:absolute relative hover:after:left-[0] after:bottom-[-2px] after:w-0 after:left-[50%] after:rounded-[10px] after:h-[3px] after:bg-[#02CDCF] hover:after:w-full after:duration-300
  }
}



.slick-dots li {
  margin: 0 !important;

}

.slick-dots {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.slick-dots li button:before {
  content: 'unset';
  font-size: 10px !important;
}

.slick-dots li.slick-active {
  background-color: #A854E9;
  width: 28px !important;
  height: 8px !important;
  border-radius: 22px !important;
}

.slick-dots li.slick-active button:before {
  opacity: 0 !important;
  color: #fcfcfc !important;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  color: #A854E9 !important;
}

.slick-current+.slick-active .slider_active {
  border-bottom: 5px solid #A854E9 !important;
}

.zoom-in-out-box {
  animation: zoom-in-zoom-out 1s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.09, 1.09);
  }

  100% {
    transform: scale(1, 1);
  }
}

@media (min-width:992px) {
  .bg-Size {
    background-size: 100% 100%;
  }
}
